<div class="text-right" style="margin-top:20px;">
    <div class="row container">
        <div class="col">
            <div class="card" style="width: 90%;">
                <div class="card-body">
                <h5 class="card-title">فیلتر تاریخ : </h5>
                    <div class="card-text">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <dp-date-picker dir="rtl" [(ngModel)]="FromDate" mode="daytime" required placeholder="از تاریخ" theme="dp-material"></dp-date-picker>
                                </div>
                                <div class="col">
                                    <dp-date-picker dir="rtl" [(ngModel)]="UntilDate" mode="daytime" required placeholder="تا تاریخ" theme="dp-material"></dp-date-picker>
                                </div>
                                <div class="col">   
                                    <button type="button" class="btn btn-primary btn-block" (click)="getFilteredData()">جستجو</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row container">
        <div class="col">
        <div class="card" style="width: 90%;">
            <div class="card-body">
            <h5 class="card-title">آخرین فعالیت ها</h5>
            <div class="card-text">
                <div class="container">
                <div class="row">
                    <div class='table-responsive'>  
                        <table class='table'>  
                            <thead>  
                                <tr>  
                                    <th>نوع عملیات</th>  
                                    <th>وضعیت عملیات</th>  
                                    <th>تاریخ عملیات</th>
                                    <th *ngIf="fullAccess">نام کاربری</th>  
                                </tr>  
                            </thead>  
                            <tbody>  
                                <tr *ngFor="let item of userAudits | paginate: paginationconfig">  
                                    <td>{{item.actionName}}</td>  
                                    <td>{{item.status}}</td>  
                                    <td>{{item.actionDate | date : "y-MM-ddTHH:mm:ss" | shamsi }}</td>
                                    <td *ngIf="fullAccess">{{item.userId}}</td>
                                </tr>  
                            </tbody>  
                        </table>
                    </div>
                    <pagination-controls
                            (pageChange)="pageChanged($event)"
                            (pageBoundsCorrection)="pageChanged($event)"
                            maxSize="10"
                            directionLinks="true"
                            autoHide="true"
                            responsive="true"
                            previousLabel="قبلی"
                            nextLabel="بعدی"
                            screenReaderPaginationLabel="صفحه بندی"
                            screenReaderPageLabel="صفحه ی "
                            screenReaderCurrentLabel="شما در این صفحه هستید : ">
                    </pagination-controls>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>