<div class="container text-right" style="display: flex;justify-content: left;align-items: center; margin-top:20px;">
    <div class="card" style="width: 90%;">
      <div class="card-body">
        <h5 class="card-title">اطلاعات کاربری {{userDetails?.fullName}}</h5>
        <div class="card-text">
          <div class="container">
            <div class="row">
              <div class="col col-6"><strong>نام کاربری : </strong>{{userDetails?.userName}}</div>
              <div class="col col-6"><strong>آدرس ایمیل : </strong>{{userDetails?.email}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>